*{
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
}
.container{
    width: 800px;
    height: 400px;
    background-color: #8cb27c;
    position: relative;
}
.borde{
    border: 2px solid #fff;
    width: 780px;
    height: 380px;
    position: absolute;
    right: 10px;
    bottom: 10px;
} 
.arco{
    width: 85px;
    height: 150px;
    position: absolute;
}
.left{
    border-left-width: 0px;
    left:0px;
    bottom: 115px;
}
.right{
    border-right-width: 0px;
    right:0px;
    bottom: 115px;
}
.centro{
    border-radius: 100%;
    width: 150px;
    height: 150px;
    position: absolute;
    right: 315px;
    bottom: 115px;
}
.bola{
	position: absolute;
}
.uno{
	right: 90px;
	bottom:115px;
}
.dos{
	right: 350px;
	bottom:300px;
}
.tres{
	left: 74px;
	top:115px;
}